@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Figtree", sans-serif;
    background-color: hsl(47, 88%, 63%);
}

h1 {
    font-size: 1.5rem;
    font-weight: 800;
    margin: 1rem 0 1rem;
    cursor: pointer;

}

h1:hover {
    color: hsl(47, 88%, 63%);
}

p {
    color: hsl(0, 0%, 50%);
    font-size: 0.9rem;
    margin: 1rem 0 1rem;
}

.container {
    max-width: 400px;
    margin: 2rem auto 0;
    padding: 1rem;
    border-radius: 1rem;
    border: 1.5px solid;
    box-shadow: 10px 10px;
    background-color: hsl(0, 0%, 100%);
}

.main-img {
    border-radius: 0.7rem;
    width: 100%;
}

.article p:nth-child(1) {
    display: inline-block;
    background-color: hsl(47, 88%, 63%);
    padding: 0.6rem;
    font-size: 0.8rem;
    font-weight: 900;
    margin: 1rem 0 1rem;
    color: hsl(0, 0%, 7%);
    border-radius: 0.5rem;
}

.article p:nth-child(2) {
    font-size: 0.7rem;
    font-weight: 600;
    color: hsl(0, 0%, 7%);
    margin: 0;
}

.img-text {
    display: flex;
    align-items: center;
    gap: 10px;
}

.img-text p {
    font-size: 2rem;
    font-weight: 900;
}

.img-text img {
    width: 30px;
    height: 30px;
}



.attribution { 
    font-size: 11px; 
    text-align: center; 
    margin: 3rem;
}
    
.attribution a { 
    color: hsl(228, 45%, 44%); 
}